@page
@model SpotyWeb.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="jumbotron">
<h1 class="display-4">Bienvenido!</h1>
<p class="lead">esto es para probar el login</p>
<hr class="my-4">
<p>logiese">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</p>
</div>

<form method="POST">
    <div>
        <div>
            <label>usuario: </label>
            <input type="text" asp-for="nickname">
        </div>

        <div>
            <label>contraseña: </label>
            <input type="password" asp-for="Contraseña">
        </div>

      

        <div>
            <button action="submit" class="btn btn-danger btn-sm" style="margin: 10px">Realizar operación</button>
        </div>

        <div>
            <label>Resultado:</label>
            <input type="text" name="resultado" id="resultado" value='@ViewData["estatus"]' disabled>
        </div>
    </div>
</form>




